

<p>this is from topbar</p>
<div class="topbar">
<div class="logo">MySite</div>
<div class="nav-links">
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Contact</a>
</div>
</div>

<div>
<p>Page content goes here...</p>
</div>
