
<div class="container mt-4">
  <h4 class="mb-3">About <em>"Harmeet's Youtube"</em></h4>

  <p>
    The app is using <strong> Api Key </strong> from
    <strong>YouTube Data API v3</strong> for fetching public content from my youtube account.
  </p>

  <p>
    It is using <strong>OAuth Client</strong> for authenticating users so that the app can get access for following scopes:
  </p>
<ol type="I">
  <li>email</li>
  <li>profile</li>
  <li>https://www.googleapis.com/auth/youtube.force-ssl</li>
</ol>

</div>




The app is using passport.js for aut